<!--we are routing with the id number and the ID id displayed in URL -->
@page "{id:int}"
@model WebApplication1.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}
<!--"Models.Customer.Id refers to Customer in Edit class and ID in Customer Data Access Object "-->
<h2>Edit Cusotmer - @Model.Customer.Id</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Customer.Id" type="hidden"/>
    <div>
        <label asp-for="Customer.Name"></label>
        <div>
            <input asp-for="Customer.Name"/>
            <span asp-validation-for="Customer.Name"/>
        </div>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

